* {box-sizing:border-box}

.mySlideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.navbar-brand {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.login-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-title {
    color: white;
    margin-right: 1em;
}

.white-color {
    color: white !important;
}

body {
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat';
    color: black;
}

.white-color {
    color: white;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideShow1active, .dot:hover {
    background-color: #717171;
}

.fadePic1 {
    display: inline-block;
    position: relative;
    width: 25%;
    left: 452px;
    top: 25px;
}

.fadePic2 {
    display: inline-block;
    position: relative;
    width: 25%;
    left: 497px;
    top: 25px;
}


.image {
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid #555;
}

.overlay{
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f5f5f5;
}

.fadePic1:hover .overlay{
    opacity: 1;
}

.fadePic2:hover .overlay{
    opacity: 1;
}

.billedTekst1{
    font-size: 22.5px;
    color: black;
    font-family: SansSerif, Verdana;
    font-weight: lighter;
    position: relative;
    left: 580px;
    top: 25px;
}

.billedTekst3{
    font-size: 22.5px;
    color: black;
    font-family: SansSerif, Verdana;
    position: relative;
    left: 475px;
    top: 25px;
}

.billedTekst4{
    font-size: 22.5px;
    color: black;
    font-family: SansSerif, Verdana;
    font-weight: lighter;
    position: relative;
    left: 510px;
    top: 20px;
}

.billedTekst2{
    font-size: 22.5px;
    color: black;
    font-family: SansSerif, Verdana;
    position: relative;
    left: 465px;
    top: 20px;
}

.first {
    width: 525px;
    float:left; /* add this */

}
.second {
    height: 90px;
    overflow: hidden; /* if you don't want #second to wrap below #first */

}

.hovertext {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to{opacity: 1}
}
