.navbar-brand {
    font-weight: bold;
}

.active {
    font-weight: bold;
}

.white-color {
    color: white !important;
}

body {
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat';
    color: black;
}

.login-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-title {
    color: white;
    margin-right: 1em;
}